VITE_OFFICIAL_SITE=https://owasptiet.com
VITE_GITHUB=https://github.com/OWASP-STUDENT-CHAPTER/
VITE_INSTAGRM=https://www.instagram.com/owasp_tiet/
VITE_SITE_URL=https://owasp-projects-site-timetable.vercel.app
VITE_ALLOWED_HOSTS=.ngrok.io,.ngrok-free.app

VITE_API_URL=http://localhost:3001
VITE_API_BASE_URL=/api/v1